<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="styling/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Contacts</title>
</head>
<body>
    <div>
        <div id="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="nav-active" href="#">Contacts</a></li>
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-body">
            <div class="main-left">
                <ul class="list-alphabet">
                    <li class="list-alphabet-header">A</li>
                    <li class="list-alphabet-header">B</li>
                    <li class="list-alphabet-item">
                        <!-- fa is compiled into "<svg class='vg-inline--fa fa-a'>"                     -->
                        <i class="fa-solid fa-b"></i>
                        <h3>Daniel Benson</h3>
                    </li>
                    <li class="list-alphabet-header">C</li>
                    <li class="list-alphabet-item">
                        <div class="img-circle-container">
                            <img class="profile-img" src="images/danny.jpg">
                        </div>
                        <h3>Sandra Chote</h3>
                    </li>
                    <li class="list-alphabet-item">
                        <!-- fa is compiled into "<svg class='vg-inline--fa fa-a'>"                     -->
                        <i class="fa-solid fa-c"></i>
                        <h3>Thomas Creasy</h3>
                    </li>
                    <li class="list-alphabet-header">Z</li>


                </ul>

            </div>
            <div class="main-right">
                <div class="personal-info">
                    <div class="personal-info-header-row">
                        <div class="personal-info-header">Sandra Chote</div>
                        <div class="img-square-container">
                            <img class="display-img" src="images/danny.jpg">
                        </div>
                    </div>
                    <div class="personal-info-tab">
                        <div class="tab-header">Surname</div>
                        <div class="tab-info">Chote</div>
                    </div>
                    <div class="personal-info-tab">
                        <div class="tab-header">First name</div>
                        <div class="tab-info">Sandra</div>
                    </div>
                    <div class="personal-info-tab">
                        <div class="tab-header">Middle name(s)</div>
                        <div class="tab-info"></div>
                    </div>
                    <div class="personal-info-tab">
                        <div class="tab-header">Title</div>
                        <div class="tab-info">Miss</div>
                    </div>
                    <div class="personal-info-tab">
                        <div class="tab-header">Birthday</div>
                        <div class="tab-info">16th September</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>