// COLOR VARIABLES
$color-primary: #541707;
$color-primary-light: #793830;
$color-primary-dark: #371105;
$color-primary-faint: #856b68;

$color-secondary: #b39625;
$color-secondary-light: #e9d793;

$color-success: #007d26;
$color-danger: #e91235;

$color-off-white: #dddada;
$color-grey-lightest: #f8f8f8;
$color-grey-light: #e8e8e8;
$color-grey: #a4a4a4;
$color-grey-dark: #7c7c7c;
$color-grey-darkest: #474747;
$color-black: #000000;

$gradient-primary: linear-gradient(145deg, rgba($color-primary,1) 0%, rgba($color-primary-light,1) 100%);
$gradient-secondary: linear-gradient(145deg, rgba($color-secondary, 0.8) 0%, rgba($color-secondary-light,0.8) 100%);
$gradient-black: linear-gradient(145deg, rgba($color-black, 0.8) 0%, rgba($color-grey-dark,0.8) 100%);

//$max-width: 600px;
//$max-height: 1200px;
//
//// BREAK POINTS
//@mixin maxDimensions {
//  max-width: $max-width;
//  max-height: $max-height;
//}


// FONT VARIABLES
$font-primary: 'Neuton', serif;
$font-display: 'Nanum Gothic', sans-serif;



body {
  box-sizing: border-box; /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  padding: 2rem; /* padding around body - not inherited to other elements*/
  height: 100%;
  width: 100%;
  //@include maxDimensions;
  background: $gradient-black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main-body {
  display: flex;
  flex-direction: row;
}

.main-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}