#newNote {
  //width: 100%;
  height: 20rem;
  border: 1px solid $color-black;
  padding: 10px;
  font-size: 1rem;
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

.mention-suggestions {
  position: absolute;
  background: white;
  border: 1px solid $color-grey;
  display: none;
  z-index: 10;
  white-space: pre; /* preserves spaces */

  div {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-faint;
    }
  }
}

#submitNewNote {
  display: flex;
  flex-direction: column;
}

#btnSubmitNewNote {
  align-self: flex-end;
}

.mention {
  color: $color-primary;
  font-weight: bold;
  cursor: pointer;
}

.recent-notes {
  padding: 2rem;
  background-color: $color-grey-lightest;
  display: flex;
  flex-direction: column;
}

#recentNotesContainer {
  margin-bottom: 0.5rem;
}

.recent-notes-tab {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem;

  .fa-trash {
    align-self: end;
    cursor: pointer;
  }
}

.note-content {

}

#btnViewNotes {
  align-self: flex-end;
}